/*******************************
Basic Page Styles
*******************************/

body {
    margin: 0;
    font: 1em/1.5; 
    font-family: 'Overlock', cursive;
    font-weight: bold;
    text-align: center;
}

/*******************************
Header
*******************************/

header {
    background-color: #8dabc4;
}

p {
    text-align: justify;
    padding: 0 20%;
}

#logo {
    max-width: 40%;
    min-width: 250px;
    
}

/*******************************
Price Table
*******************************/
caption {
    background-color: #8dabc4;
    font-weight: bold;
}

table#table1 {
    text-align: center;
    width: 50%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;    
}

/*******************************
Footer
*******************************/

#copyright {
    text-align: right;
    padding: 15px;
    font-size: small;
    margin-right: 25%;
}

/*******************************
Navigation
*******************************/
a {
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
}

nav {
    padding: 15px;
    background-color: #878787;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    width: 150px;
    padding: 10px;
    display: inline-block;
    background-color: #878787;
    text-decoration: none;
}


/* unvisited link */

a:link {
    color: white;
    text-decoration: none;
}

/* visited link */

a:visited {
    color: white;
}

/* mouse over link */

nav a:hover, a:focus {
    color: #fd793e;
}

#email_link {
    color: #fd793e;
    font-weight: bolder;
}

/*******************************
Scrolling Gallery
*******************************/

#scroller {
    position: relative;
}

#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}

#scroller li {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}

a.selected {
    font-weight: bolder;
    font-size: 1.4em;
}